* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.calculator-box {
  width: 420px;
  /* height: 100%; */
  background-color: darkgrey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border-radius: 4px;
}

.screen {
  background-color: aliceblue;
  width: 100%;
  border: solid 2px gray;
  border-radius: 4px;
  font-size: 3rem;
  flex: 1 1 100px;
  text-align: end;
  overflow: hidden;
}
.btn-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  margin-top: 5px;
  gap: 5px;
}
.btn {
  height: 90px;
  border-radius: 4px;
  font-size: 2rem;
  flex: 1 1 90px;
}

.btn-operators,
.btn-ce,
.btn-del {
  font-size: 1.5rem;
  background-color: lightcoral;
}

.btn-point,
.btn-number-cero {
  flex-grow: 1;
}

.btn-equal {
  flex: 2 185px;
}

.btn-ce {
  background-color: cadetblue;
}

.btn-del {
  background-color: gainsboro;
}
